body {
 background-color: #fff9f0;
   margin: 60px;
}

nav#main-nav {
    background-color: rgb(255, 239, 161);

}

#main-nav a {
    padding: 1em;
    display: inline-block;
    color: purple;
    font-size: 1.5rem;
    font-family: marryweather-sc;
    text-decoration: none;
    transition: all ease 500ms;
}

#main-nav a:hover {
    background-color: rgb(227, 214, 150);
    color:rgb(231, 173, 103);
}